In [2]:
# importing required library

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from tqdm import tqdm
from IPython.display import display, HTML

In [18]:
# reading the file

file_path1 = r"C:\Users\HP\Downloads\dataset-1.csv"
file_path2 = r"C:\Users\HP\Downloads\dataset-2.csv"
file_path3 = r"C:\Users\HP\Downloads\dataset-3.csv"

dataset_1 = pd.read_csv(file_path1)
dataset_2 = pd.read_csv(file_path2)
dataset_3 = pd.read_csv(file_path3)

dataset_1.head(), dataset_2.head(), dataset_3.head()

(   id_1  id_2  route   moto    car     rv   bus  truck
 0   829   827      1   2.05   4.14   4.14  10.1   15.2
 1   829   821      4   6.63  13.26  13.26  32.4   48.5
 2   829   804      7  14.41  28.92  28.92  64.7   97.0
 3   829   822      6   5.90  11.81  11.81  28.8   43.2
 4   829   826      9   2.87   5.81   5.81  14.2   21.2,
         id        name     id_2  startDay startTime     endDay   endTime  \
 0  1040000  Montgomery       -1    Monday  05:00:00  Wednesday  10:00:00
 1  1040010       Black       -1    Monday  10:00:00     Friday  15:00:00
 2  1040020     Emerald       -1  Thursday  15:00:00     Friday  19:00:00
 3  1040030       Foley       -1    Monday  19:00:00     Friday  23:59:59
 4  1050000    Whittier  1050001  Saturday  00:00:00     Sunday  23:59:59

    able2Hov2  able2Hov3  able3Hov2  able3Hov3  able5Hov2  able5Hov3  \
 0        3.0        3.0       -1.0         -1          3          3
 1        6.0        6.0       -1.0         -1          6          6
 2        3.0        3.0       -1.0         -1          3          3
 3        6.0        6.0       -1.0         -1          6          6
 4        6.0        6.0        NaN         -1          6          6

    able4Hov2  able4Hov3
 0          3          3
 1          6          6
 2          3          3
 3          6          6
 4          6          6  ,
    id_start   id_end  distance
 0   1001400  1001402       9.7
 1   1001402  1001404      20.2
 2   1001404  1001406      16.0
 3   1001406  1001408      21.7
 4   1001408  1001410      11.1)

Question 1: Car Matrix Generation
Under the function named generate_car_matrix write a logic that takes the dataset-1.csv as a DataFrame. Return a new DataFrame that follows the following rules:

values from id_2 as columns
values from id_1 as index
dataframe should have values from car column
diagonal values should be 0.

In [21]:
def generate_car_matrix(df):
    car_matrix = df.pivot(index='id_1', columns='id_2', values='car').fillna(0)
    car_matrix.values[[range(len(car_matrix))]*2] = 0
    return car_matrix

car_matrix = generate_car_matrix(dataset_1)
car_matrix.head()

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
805,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
# Inspect the intermediate results and the logic used in the generate_car_matrix function
car_matrix = dataset_1.pivot(index='id_1', columns='id_2', values='car')
car_matrix.head()

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,NaN,2.8,6.0,7.7,11.7,13.4,16.9,19.6,21.0,23.52,24.67,26.53,27.92,29.08,30.87,32.53,36.32,38.27,39.24
802,2.8,NaN,3.4,5.2,9.2,10.9,14.3,17.1,18.5,20.92,22.07,23.93,25.32,26.48,28.27,29.93,33.72,35.67,36.64
803,6.0,3.4,NaN,2.0,6.0,7.7,11.1,13.9,15.3,17.72,18.87,20.73,22.12,23.28,25.07,26.73,30.52,32.47,33.44
804,7.7,5.2,2.0,NaN,4.4,6.1,9.5,12.3,13.7,16.12,17.27,19.13,20.52,21.68,23.47,25.13,28.92,30.87,31.84
805,11.7,9.2,6.0,4.4,NaN,2.0,5.4,8.2,9.6,12.02,13.17,15.03,16.42,17.58,19.37,21.03,24.82,26.77,27.74

In [25]:
# Apply fillna(0) to the pivot table and then set the diagonal values to zero
def generate_car_matrix(df):
    car_matrix = df.pivot(index='id_1', columns='id_2', values='car').fillna(0)
    np.fill_diagonal(car_matrix.values, 0)
    return car_matrix

car_matrix = generate_car_matrix(dataset_1)
# Display the head of the matrix to verify the diagonal is set to zero
car_matrix.head(15)

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.00,2.80,6.00,7.70,11.70,13.40,16.90,19.60,21.00,23.52,24.67,26.53,27.92,29.08,30.87,32.53,36.32,38.27,39.24
802,2.80,0.00,3.40,5.20,9.20,10.90,14.30,17.10,18.50,20.92,22.07,23.93,25.32,26.48,28.27,29.93,33.72,35.67,36.64
803,6.00,3.40,0.00,2.00,6.00,7.70,11.10,13.90,15.30,17.72,18.87,20.73,22.12,23.28,25.07,26.73,30.52,32.47,33.44
804,7.70,5.20,2.00,0.00,4.40,6.10,9.50,12.30,13.70,16.12,17.27,19.13,20.52,21.68,23.47,25.13,28.92,30.87,31.84
805,11.70,9.20,6.00,4.40,0.00,2.00,5.40,8.20,9.60,12.02,13.17,15.03,16.42,17.58,19.37,21.03,24.82,26.77,27.74
806,13.40,10.90,7.70,6.10,2.00,0.00,3.80,6.60,8.00,10.42,11.57,13.43,14.82,15.98,17.77,19.43,23.22,25.17,26.14
807,16.90,14.30,11.10,9.50,5.40,3.80,0.00,2.90,4.30,6.82,7.97,9.83,11.22,12.38,14.17,15.83,19.62,21.57,22.54
808,19.60,17.10,13.90,12.30,8.20,6.60,2.90,0.00,1.70,4.12,5.27,7.13,8.52,9.68,11.47,13.13,16.92,18.87,19.84
809,21.00,18.50,15.30,13.70,9.60,8.00,4.30,1.70,0.00,2.92,4.07,5.93,7.32,8.48,10.27,11.93,15.72,17.67,18.64
821,23.52,20.92,17.72,16.12,12.02,10.42,6.82,4.12,2.92,0.00,1.80,3.67,5.06,6.22,8.01,9.43,13.26,15.17,16.15
822,24.67,22.07,18.87,17.27,13.17,11.57,7.97,5.27,4.07,1.80,0.00,2.21,3.60,4.76,6.55,8.00,11.81,13.74,14.68
823,26.53,23.93,20.73,19.13,15.03,13.43,9.83,7.13,5.93,3.67,2.21,0.00,1.79,2.94,4.74,6.15,10.00,11.89,12.87
824,27.92,25.32,22.12,20.52,16.42,7.80,11.22,8.52,7.32,5.06,3.60,1.79,0.00,1.71,3.50,4.92,8.77,10.66,11.64
825,29.08,26.48,23.28,21.68,17.58,15.98,12.38,9.68,8.48,6.22,4.76,2.94,1.71,0.00,2.20,3.65,7.46,9.35,10.33
826,30.87,28.27,25.07,23.47,19.37,17.77,14.17,11.47,10.27,8.01,6.55,4.74,3.50,2.20,0.00,2.05,5.81,7.71,8.69

Question 2: Car Type Count Calculation
Create a Python function named get_type_count that takes the dataset-1.csv as a DataFrame. Add a new categorical column car_type based on values of the column car:

low for values less than or equal to 15,
medium for values greater than 15 and less than or equal to 25,
high for values greater than 25.
Calculate the count of occurrences for each car_type category and return the result as a dictionary. Sort the dictionary alphabetically based on keys.

In [26]:
def get_type_count(df):
    df['car_type'] = pd.cut(df['car'], bins=[-np.inf, 15, 25, np.inf], labels=['low', 'medium', 'high'])
    type_count = df['car_type'].value_counts().to_dict()
    type_count = dict(sorted(type_count.items()))
    return type_count

type_count = get_type_count(dataset_1)
type_count

{'high': 56, 'low': 196, 'medium': 89}

Question 3: Bus Count Index Retrieval
Create a Python function named get_bus_indexes that takes the dataset-1.csv as a DataFrame. The function should identify and return the indices as a list (sorted in ascending order) where the bus values are greater than twice the mean value of the bus column in the DataFrame.

In [28]:
def get_bus_indexes(df):
    mean_bus = df['bus'].mean()
    bus_indexes = df[df['bus'] > 2 * mean_bus].index.tolist()
    bus_indexes.sort()
    return bus_indexes

bus_indexes = get_bus_indexes(dataset_1)
bus_indexes

[2,
 7,
 12,
 17,
 25,
 30,
 54,
 64,
 70,
 97,
 144,
 145,
 149,
 154,
 160,
 201,
 206,
 210,
 215,
 234,
 235,
 245,
 250,
 309,
 314,
 319,
 322,
 323,
 334,
 340]

Question 4: Route Filtering
Create a python function filter_routes that takes the dataset-1.csv as a DataFrame. The function should return the sorted list of values of column route for which the average of values of truck column is greater than 7.

In [30]:
def filter_routes(df):
    routes = df.groupby('route')['truck'].mean()
    filtered_routes = routes[routes > 7].index.tolist()
    filtered_routes.sort()
    return filtered_routes

filtered_routes = filter_routes(dataset_1)
filtered_routes

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Question 5: Matrix Value Modification
Create a Python function named multiply_matrix that takes the resulting DataFrame from Question 1, as input and modifies each value according to the following logic:

If a value in the DataFrame is greater than 20, multiply those values by 0.75,
If a value is 20 or less, multiply those values by 1.25.
The function should return the modified DataFrame which has values rounded to 1 decimal place.

In [31]:
def multiply_matrix(df):
    modified_matrix = df.applymap(lambda x: x * 0.75 if x > 20 else x * 1.25)
    modified_matrix = modified_matrix.round(1)
    return modified_matrix

modified_matrix = multiply_matrix(car_matrix)
modified_matrix.head()

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.0,3.5,7.5,9.6,14.6,16.8,21.1,24.5,15.8,17.6,18.5,19.9,20.9,21.8,23.2,24.4,27.2,28.7,29.4
802,3.5,0.0,4.2,6.5,11.5,13.6,17.9,21.4,23.1,15.7,16.6,17.9,19.0,19.9,21.2,22.4,25.3,26.8,27.5
803,7.5,4.2,0.0,2.5,7.5,9.6,13.9,17.4,19.1,22.2,23.6,15.5,16.6,17.5,18.8,20.0,22.9,24.4,25.1
804,9.6,6.5,2.5,0.0,5.5,7.6,11.9,15.4,17.1,20.2,21.6,23.9,15.4,16.3,17.6,18.8,21.7,23.2,23.9
805,14.6,11.5,7.5,5.5,0.0,2.5,6.8,10.2,12.0,15.0,16.5,18.8,20.5,22.0,24.2,15.8,18.6,20.1,20.8

Question 6: Time Check
You are given a dataset, dataset-2.csv, containing columns id, id_2, and timestamp (startDay, startTime, endDay, endTime). The goal is to verify the completeness of the time data by checking whether the timestamps for each unique (id, id_2) pair cover a full 24-hour period (from 12:00:00 AM to 11:59:59 PM) and span all 7 days of the week (from Monday to Sunday).

Create a function that accepts dataset-2.csv as a DataFrame and returns a boolean series that indicates if each (id, id_2) pair has incorrect timestamps. The boolean series must have multi-index (id, id_2).

In [32]:
def inspect_date_columns(df):
    # Inspect the unique values in the date columns to understand the format
    startDay_unique = df['startDay'].unique()
    startTime_unique = df['startTime'].unique()
    endDay_unique = df['endDay'].unique()
    endTime_unique = df['endTime'].unique()
    
    return startDay_unique, startTime_unique, endDay_unique, endTime_unique

# Call the function to inspect the date columns
startDay_unique, startTime_unique, endDay_unique, endTime_unique = inspect_date_columns(dataset_2)
print('Unique Start Days:', startDay_unique)
print('Unique Start Times:', startTime_unique)
print('Unique End Days:', endDay_unique)
print('Unique End Times:', endTime_unique)

Unique Start Days: ['Monday' 'Thursday' 'Saturday' 'Tuesday' 'Wednesday']
Unique Start Times: ['05:00:00' '10:00:00' '15:00:00' '19:00:00' '00:00:00']
Unique End Days: ['Wednesday' 'Friday' 'Sunday' 'Saturday' 'Tuesday']
Unique End Times: ['10:00:00' '15:00:00' '19:00:00' '23:59:59' '05:00:00']